$content: 1200px;

$main-bg: #edeff1;
$footer-bg: #d75d0e;

$orange-btn-hover: #dd4b2b;
$blue-btn: #4b4e73;
$read-more-bg: #ffffff;
$read-more-color: #612316;

$dark-text: #31353e;
$white-text: #ffffff;

$slab-font: 'Roboto Slab', arial;
$regular-font: 'Roboto Regular', arial;

$sections-padding: 80px 0;

$txt-size: 18px;
